
/* Custom your banner */
.lgpd {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background-color:green;
    color:#fff;
    font-size: 15px;
    display: flex;
    justify-content: center;

}
.lgdp--right {
    align-items: center;
    justify-content: center;
}
.lgpd p { text-align: left; }
.lgpd a { color: white; }

.lgpd button {
    background-color: #000;
    border: 0px;
    cursor: pointer;
    padding: 10px 30px;
    color: #fff;
}